.circle-stage-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 83px;
}

.circle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 125px;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
}

.line {
  width: 20%;
  height: 5px;
  background-color: black;
  margin-top: 10px;
}

.text-above, .text-below {
  font-size: 14px;
  color: black;
  text-align: center;
}