.success-page {
  position: absolute;
  top: 0;
  display: flex;
  row-gap: 30px;
  flex-direction: column;
  //column-gap: 20px;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 20px 0;
  width: 390px;
  min-height: 100vh;

}