* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'e-Ukraine', sans-serif;

}

@font-face {
  font-family: 'e-Ukraine';
  src: url("./fonts/e-Ukraine/e-Ukraine-Light.otf");

}

.App {
  background-image: url("virus.svg");
  background-repeat: no-repeat;
  background-size: cover;
  /*background: #86A2C3;*/
  /*background-color: red;*/
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;

  & > div {
    width: 100%;
    max-width: 586px;
    display: flex;
    justify-content: center;
    /*background-color: red;*/
    background: linear-gradient(to bottom right, #B5CADD, #B5CAE8);

  }
}