* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'e-Ukraine', sans-serif;

}

@font-face {
  font-family: 'e-Ukraine';
  src: url("./fonts/e-Ukraine/e-Ukraine-Light.otf");

}

.App {
  background: linear-gradient(to bottom right, #B5CADD, #B5CAE8);
  min-height: 100vh;
  display: flex;
  justify-content: center;
}